#textdomain wesnoth-Imperial_Era

[unit]
id=Lavinian Rorarius
name= _ "Rorarius"
race=lavinian
image="units/human-lavinians/rorarius.png"
	[defend]
		[frame]
		begin=-150
		end=150
		image="units/human-lavinians/rorarius-defend.png"
		[/frame]
	[/defend]
hitpoints=50
movement_type=auxiliaryfoot
movement=6
experience=100
level=2
alignment=neutral
advanceto=null
{AMLA_TOUGH 3}
cost=32
usage=fighter
unit_description= _ "The Rorarius is as good a melee fighter as almost any member of the Legion proper, simply because his lightweight shield and lack of armor allows him to make much stronger stabs with his gladius. However, this offensive capability comes at a price; although he deals more damage than even a Praetorian, he takes more in return, and is unable to retaliate at all against enemy archers. Rorarii are indeed powerful fighters, but they are only support troops, and without either Legionnaires or other Auxilia they are ineffective against most armies."
get_hit_sound={SOUND_LIST:HUMAN_HIT}
die_sound={SOUND_LIST:HUMAN_DIE}
	[attack]
	name=gladius
	type=blade
	range=melee
	damage=11
	number=3
	icon=attacks/sword-lavinian-gladius.png
		[animation]
		hits=no
			[frame]
			begin=-200
			end=-100
			image="units/human-lavinians/rorarius.png"
			[/frame]
			[frame]
			begin=-100
			end=0
			image="units/human-lavinians/rorarius-attack-1.png"
			sound={SOUND_LIST:MISS}
			[/frame]
			[frame]
			begin=0
			end=100
			image="units/human-lavinians/rorarius-attack-2.png"
			[/frame]
			[frame]
			begin=100
			end=200
			image="units/human-lavinians/rorarius.png"
			[/frame]
		[/animation]
		[animation]
		hits=yes
			[frame]
			begin=-200
			end=-100
			image="units/human-lavinians/rorarius.png"
			[/frame]
			[frame]
			begin=-100
			end=0
			image="units/human-lavinians/rorarius-attack-1.png"
			sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
			[frame]
			begin=0
			end=100
			image="units/human-lavinians/rorarius-attack-2.png"
			[/frame]
			[frame]
			begin=100
			end=200
			image="units/human-lavinians/rorarius.png"
			[/frame]
		[/animation]
	[/attack]
[/unit]
