#textdomain wesnoth-Imperial_Era

[unit]
id=Marauder Sea Wolf
name= _ "Sea Wolf"
race=marauder
image="units/human-marauders/sea-wolf.png"
{MAGENTA_IS_THE_TEAM_COLOR}
hitpoints=60
movement_type=marauderboat
movement=6
experience=100
level=3
alignment=chaotic
advanceto=null
{AMLA_TOUGH 3}
cost=40
usage=fighter
unit_description= _ "Tales are told in the villages of Arendia of the terrifying Marauder raids. In the dark of night, boats will float swiftly come downstream, bearing fire and death. The dreaded Sea Wolves, their ships cloaked in black, will charge out onto the land, slay their victims, take their plunder, and retreat as quickly as they came."
get_hit_sound={SOUND_LIST:HUMAN_HIT}
die_sound={SOUND_LIST:HUMAN_DIE}
	[attack]
	name=axe
	type=blade
	range=melee
	damage=10
	number=3
	icon=attacks/axe.png
		[animation]
			[frame]
			begin=-200
			end=200
			sound=mace.wav
			image="units/human-marauders/sea-wolf.png"
			[/frame]
		[/animation]
	[/attack]
#to get the switching to work right (supposedly)
	[movement_anim]
	terrain=s,c,w,k
		[animation]
			[frame]
			image="units/human-marauders/sea-wolf.png"
			begin=0
			end=100
			[/frame]
		[/animation]
	[/movement_anim]
	[movement_anim]
		[not]
		terrain=s,c,w,k
		[/not]
		[animation]
			[frame]
			image="units/human-marauders/sea-wolf-land.png"
			begin=0
			end=100
			[/frame]
		[/animation]
	[/movement_anim]
#odd stuff
	[event]
	name=moveto
	first_time_only=no
		[filter]
			[not]
				[filter_location]
				terrain=s,c,w,k
				[/filter_location]
			[/not]
		type=Marauder Sailor
		[/filter]
		[store_unit]
			[filter]
			x,y=$x1,$y1
			[/filter]
		variable=temp
		[/store_unit]
		[set_variable]
		name=temp.image
		value="units/human-marauders/sea-wolf-land.png"
		[/set_variable]
		[unstore_unit]
		variable=temp
		[/unstore_unit]
		[clear_variable]
		name=temp
		[/clear_variable]
		[allow_undo]
		[/allow_undo]
	[/event]
	[event]
	name=moveto
	first_time_only=no
		[filter]
			[filter_location]
			terrain=s,c,w,k
			[/filter_location]
		type=Marauder Sailor
		[/filter]
		[store_unit]
			[filter]
			x,y=$x1,$y1
			[/filter]
		variable=temp
		[/store_unit]
		[set_variable]
		name=temp.image
		value="units/human-marauders/sea-wolf.png"
		[/set_variable]
		[unstore_unit]
		variable=temp
		[/unstore_unit]
		[clear_variable]
		name=temp
		[/clear_variable]
		[allow_undo]
		[/allow_undo]
	[/event]
[/unit]
